body {
  font-size:16px;
 }
 
.header{
 text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
  align-items: center;
  margin: auto;
}

.flexbox_vertical {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.input-group {max-width: 250px;}

.block {
	margin: auto;
	padding:30px, 10px;
}

#vidBlock {
  display:none;
  width: 400px;
}

#video_in_element {max-height: 450px;max-width: 400px;}

#motionControlBlock {min-height: 173px;}
#inCallBlock {height:225px}

.div-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-width : 250px;
}
.btn-xs {margin:2px;}
.btn-info {width: 75px;}


/* Small screens */
@media all and (max-width: 600px) {
	body {
	  font-size:12px;
	 }
	 
	#vidBlock {
	  width: 320px;
	}
	#video_in_element{
	  height: 300px;
	}
	#video_out_element{
	  height: 100px;
	}
	#inCallBlock {height:145px}
}
