body{
  text-align: center;
}

#header {
  text-align: center;
  padding: 0.8em;
}
.flexbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap:wrap;
  align-items: center;
  margin: 50px 0;
}
form {width:250px}

#vid-box {
  display:none;
  min-width:300px;
  flex: 2, 1, auto;
}

#vid-box video {
  max-height: 500px;
}

#controlButton,
{
  flex-direction: column;
  justify-content: space-around;
}

.div-table-row-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.div-table-cell {
  margin: 6px;
}

#chat-box {
  margin: 10px auto;
  max-height: 300px;
  overflow: auto;
  border: 3px groove #83808d;
  background: #e7e7e7;
  width: 75%;
  color: black;
  max-width: 550px;
  padding: 10px;
}
/* Small screens */

